.CardContainer {
    &.static-height {
        width: auto;
        min-width: 250px;
    }

    width: 250px;
    align-items: center;
    margin: 20px 40px 20px 40px;

    @media (max-width: 600px) {
        width: 250px;
    }
}


.card {
    transition: all 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    &:hover {
        opacity: 0.9;
        transform: scale(1.1);
        cursor: pointer;
    }
}

.display-fill .modal-content {

    @media (max-width: 600px) {
        height: unset !important;
    }
}

.card-body {
    text-align: center;
}

.card-img {
    height: 250px;
}

.responsive-img {

    @media (max-width: 600px) {
        width: 50vw;
        margin: 0 auto;
    }

}

.moviesList,
.theatersList {
    display: flex;
    flex-flow: row wrap;
    background: whitesmoke;
    justify-content: flex-start;
    margin: 0 100px;
    padding: 20px;

    @media (max-width: 600px) {
        justify-content: center;
        margin: auto;
    }
}

.display-fill {

    .modal-content {
        height: 100vh;
    }

    &.fade {
        transition: opacity 0.25s ease-in-out;
    }
}

.description {
    margin-top: 15px;
    font-style: italic;
    font-size: medium;
}

.side-list {
    list-style: none;
    padding-left: 0 !important;

    .ribbon {
        background: greenyellow;
        border-radius: 20px;
        padding: 10px;
        margin: 15px auto;
    }
}