.CardContainer {

    width: 200px;
    align-items: center;
    margin: 20px 40px 20px 40px;

    @media (max-width: 600px) {
        width: 250px;
    }
}

.card {
    transition: all 0.5s;

    &:hover {
        opacity: 0.9;
        transform: scale(1.1);
        cursor: pointer;
    }
}

.card-body {
    text-align: center;
}

.card-img {
    height: 150px;
    width: 150px;
}

.moviesList {
    display: flex;
    flex-flow: row wrap;
    background: whitesmoke;
    justify-content: flex-start;
    margin: 0 100px;
    padding: 20px;

    @media (max-width: 600px) {
        justify-content: center;
        margin: auto;
    }
}

.display-fill {

    .modal-content {
        height: 100vh;
    }

    &.fade {
        transition: opacity 0.25s ease-in-out;
    }
}