.socialMediaSignIn {
    display: flex;
    flex-flow: column wrap;

    button {
        margin: 10px 0 10px 0;
    }

    .social-logo {
        height: 17px;
        vertical-align: text-bottom;
        margin-right: 5px;
    }
}

#submitBtn {
    //display: flex;
    margin: auto;
    width: 100%;

}