.App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 25px;
    padding-left: 40px;
    pointer-events: none;
}

.App-header {
    background-color: whitesmoke;
    color: #282c34;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    display: inline;
    text-align: start;
    padding-top: 20px;
    opacity: 0.85;

    @media (max-width: 600px) {
        display: inline-flex;
    }
}

#navBarTitle {
    padding: 0 20px 0 0;
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;

}

.navBarLinks {
    float: right;
}

.navBarLinkList {
    list-style: none;
    display: inline-flex;
    font-size: 14px;
    padding-right: 40px;
    color: #282c34;

    a {
        color: #282c34;
        text-decoration: none;

    }

    .link-item {
        cursor: pointer;

        a:hover,
        &:hover {
            color: royalblue;
        }
    }
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.avatar-container {
    display: flex;
    flex-direction: row;
}

.avatar {
    background-image: url("../../../assets/avatar.svg");
    width: 25px;
    height: 22px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 5px;
    display: block;
    cursor: pointer;
}

.collapse-options {
    position: absolute;
    background: whitesmoke;
    padding: 15px;
    min-width: 150px;
    max-width: 50%;
    margin-top: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px !important;
    right: 40px;
}

.menu-list {
    list-style: none;
}

.option {
    border-bottom: 1px solid rgb(242, 242, 242) !important;

    &:hover {
        border-bottom: 1px solid rgb(118, 118, 118) !important;

    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media (max-width: 600px) {

    .link-item {
        list-style: none;
        display: inline-flex;
        font-size: 14px;
        padding-right: 20px;
    }

    .App-logo {
        height: 25px;
        padding-left: 20px;
        pointer-events: none;
    }





}