.App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 25px;
    padding-left: 40px;
    pointer-events: none;
}

.App-header {
    background-color: whitesmoke;
    color: #282c34;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    display: inline;
    text-align: start;
    padding-top: 20px;
    opacity: 0.85;

    @media (max-width: 600px) {
        display: inline-flex;
    }
}

#navBarTitle {
    padding: 0 20px 0 0;
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;

}

.navBarLinks {
    float: right;
}

.navBarLinkList {
    list-style: none;
    display: inline-flex;
    font-size: 14px;
    padding-right: 40px;
    color: #282c34;

    a {
        color: #282c34;
        text-decoration: none;

    }

    .link-item {
        cursor: pointer;

        a:hover,
        &:hover {
            color: royalblue;
        }
    }
}

.m-r-5 {
    margin-right: 5px;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media (max-width: 600px) {

    .link-item {
        list-style: none;
        display: inline-flex;
        font-size: 14px;
        padding-right: 20px;
    }

    .App-logo {
        height: 25px;
        padding-left: 20px;
        pointer-events: none;
    }





}