.App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 25px;
    pointer-events: none;
}

.App-header {
    background-color: #00756a;
    color: whitesmoke;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    z-index: 19;
    width: 100%;
    top: 0;
    left: 0;
    display: inline;
    text-align: start;
    padding: 20px 0;

    @media (max-width: 600px) {
        // display: inline-flex;
    }
}

a.non-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

#navBarTitle {
    padding: 0 20px 0 0;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    vertical-align: sub;

    @media (max-width: 600px) {
        display: none;
    }
}

.navBarLinks {
    float: right;
}

.navBarLinkList {
    list-style: none;
    display: inline-flex;
    font-size: 20px;
    padding-right: 40px;
    color: whitesmoke;
    height: 34px;
    margin-bottom: 0;
    align-items: center;

    a {
        color: whitesmoke;
        text-decoration: none;
    }

    .link-item {
        cursor: pointer;
        transition: all 0.5s;
        font-weight: bold;

        a:hover,
        &:hover {
            // color: white;
            // filter: brightness(2);
            transform: scale(1.05);
        }
    }
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.avatar-container {
    display: flex;
    flex-direction: row;
}

.avatar {
    background-image: url('../../../assets/avatar.svg');
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 5px;
    display: block;
    cursor: pointer;

    @media (max-width: 600px) {
        width: 24px;
        height: 24px;
    }
}

.collapse-options {
    border-radius: 10px;
    position: absolute;
    background: whitesmoke;
    padding: 10px;
    min-width: 150px;
    max-width: 50%;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px !important;
    right: 10px;
}

.menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    a {
        li {
            color: #282c34;
        }
    }
}

.option {
    border-bottom: 1px solid rgb(242, 242, 242) !important;

    &:hover {
        border-bottom: 1px solid rgb(118, 118, 118) !important;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .link-item {
        list-style: none;
        display: inline-flex;
        font-size: 18px;
        font-weight: 500;
        padding-right: 20px;
    }

    .App-logo {
        height: 34px;
        width: 54px;
        pointer-events: none;
    }

    .navBarLinkList {
        height: 34px;
        padding-right: 0;
        padding-left: 0;
    }
}
