.header {
    padding: 20px;
    white-space: nowrap;

    @media (max-width: 576px) {
        text-align: center;
    }
}

.operations-list,
.reports-list {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;

    a {
        text-decoration: none;
    }

    li {
        cursor: pointer;
        text-align: left;
        padding: 15px;
        background-color: whitesmoke;
        color: rgba(50, 50, 50, 1);
        transition: all 0.5s;

        &:hover {
            border: 1px solid royalblue;
            background-color: royalblue;
            color: whitesmoke;
        }
    }
}

.admin-content {
    display: grid;
    justify-content: center;
}
