#filterContainer {
    background: white;
}

#MovieTab {
    margin-bottom: 20px;
    text-align: center;
}

.movie-tab-wrapper {
    min-height: 100vh;
}

#chooseTypeOfMovie {
    ul {
        list-style: none;
        padding: 0;
        margin: auto;
        background: whitesmoke;

        li {
            display: inline-block;
            margin: 10px;

            a {
                text-decoration: none;
            }
        }
    }
}
