.Main {
    background: whitesmoke;
    width: 100%;
    //height: calc(100vh - 50px);
    font-family: Helvetica;
}

.text-muted {
    font-size: 14px;
}

.content-m-top {
    margin-top: 100px;
    min-height: 1024px;
}

.loading-bar {
    background: url('../assets/loadingFlickr.svg');
    height: 200px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position-x: center;
}

.text-center {
    text-align: center;
}

.block {
    display: block;
}

.padding-no {
    padding: 0px;
}

.width-full {
    width: 100%;
}

.form-edit {
    &__label {
        width: 100px;
        font-weight: bold;
        float: left;
        text-align: left;
        padding-top: 5px;
        padding-right: 5px;

        @media (max-width: 768px) {
            width: 300px;
        }
    }

    &__input {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #C2C2C2;
        box-shadow: 1px 1px 4px #EBEBEB;
        -moz-box-shadow: 1px 1px 4px #EBEBEB;
        -webkit-box-shadow: 1px 1px 4px #EBEBEB;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        padding: 7px;
        outline: none;
        min-width: 225px;
    }

    &__submit {
        margin: 0 auto;
        display: block;
        float: right;
        width: 100%;
    }

}

.btn-container {
    float: right;
    text-align: right;

    label {
        button {
            font-weight: 600;
            height: 50px;
            width: 100px;
        }
    }

    @media (max-width: 768px) {
        text-align: center;
    }
}

.edit-fav-icon {
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;

    &:hover {
        color: royalblue;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}