.App {
  text-align: center;
}


.Main {
  display: block;
  justify-content: center;
  background: whitesmoke;
  width: 100%;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  height: -webkit-fill-available;

}