.black-border {
    border: 2px solid black;
    min-width: 250px;
    max-width: 350px;
    width: calc(100% - 100px);

    &:focus {
        outline: 2px solid royalblue;

    }
}

.standard-input {
    min-width: 250px;
    max-width: 350px;
    width: calc(100% - 100px);
    margin: 0 auto;
}

.select-row {
    display: inline-flex;
    justify-content: left;
    margin: 15px;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.select-title {
    margin: 0 5px;
    padding: 0;
    line-height: 2.25;
}

.pre-wrap {
    white-space: pre-wrap;
}

.movie-poster {
    display: block;
    height: 200px;
    width: 200px;
    min-width: 175px;
}

.p-10-0-25-0 {
    padding-top: 10px;
    padding-bottom: 25px;
}

.button-res {
    @media (max-width: 550px) {
        justify-content: flex-start !important;
    }
}

.info {
    @media (max-width: 550px) {
        padding: 0;
    }
}