.form-container {
    display: block;
    width: 60%;
    white-space: nowrap;
    border: 1px solid black;
    padding: 25px;

    .fields {
        display: inherit;
        flex-direction: column;
    }
}

.space-down {
    margin-bottom: 24px;
}

.profile-container {
    margin: 0 20px;
}

.labels {
    vertical-align: -webkit-baseline-middle;
}

.col-label {
    width: 150px;
}

.col-input {
    widows: 250px;
}
