.error-result {
    background: url('../../../../assets/error.svg');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    background-size: 64px 64px;
    margin: 0 auto;
}

.success-result {
    background: url('../../../../assets/checked.svg');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    background-size: 64px 64px;
    margin: 0 auto;
}

.btn-info {
    margin-left: unset !important;
}
