.App {
  text-align: center;

}


.Main {
  display: flex;
  background: whitesmoke;
  width: 100%;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  height: -webkit-fill-available;

}